<div class="container-fluid">
  {{#if messages.success}}
  <div role="alert" class="alert alert-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div role="alert" class="alert alert-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.info}}
  <div role="alert" class="alert alert-info">
    {{#each messages.info}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="row">
    {{#each data}}
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Video_id: {{this.id}}</h3>
          <p>Total Views: {{this.count}}</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

</div>
</div>